<p align="center">
  <img src="../images/Logo-persona_Fondo_blanco.png" alt="Logo_personal">
</p>
<h1 align="center">Colombia House Prediction</h1>
<p align="center">Dataset of properties in Colombia</p>
 
<h2 align="center">Introduction</h2>
testing

## Introduction

testing

## Data

testing


#### Using the Kaggle API to download the datasets


[texto del enlace](https://platzi.com/tutoriales/1794-pandas/6926-usando-la-api-de-kaggle-con-google-colab-para-carga-y-descarga-de-datasets/#:~:text=Dataset%20a%20usar%20en%20esta%20rutina%3A&text=Lo%20primero%20que%20debemos%20hacer,a%20la%20api%20de%20Kaggle.)

In [9]:
! pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.6/83.6 kB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.10 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (2.31.0)
Collecting tqdm (from kaggle)
  Obtaining dependency information for tqdm from https://files.pythonhosted.org/packages/00/e5/f12a80907d0884e6dff9c16d0c0114d81b8cd07dc3ae54c5e962cc83037e/tqdm-4.66.1-py3-none-any.whl.metadata
  Downloading tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: python-slugify in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from kaggle) (2.0.4)
Collecting bleach (from kaggle)
  Downloading bleach-6.0.0-py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.5/162.5 kB 10.0 MB/s eta 0:00:00
Collecting webencodings (from bleach->kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: text-unidecode>=1.3 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from requests->kaggle) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from requests->kaggle) (3.4)
Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 3.4 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110685 sha256=c3fbcb245ba6c3c97ba45bc03230499ff9f0ad40a13b25d3971930cc2c6bedb5
  Stored in directory: /home/williamccs/.cache/pip/wheels/6a/2b/d0/457dd27de499e9423caf738e743c4a3f82886ee6b19f89d5b7
Successfully built kaggle
Installing collected packages: webencodings, tqdm, bleach, kaggle
Successfully installed bleach-6.0.0 kaggle-1.5.16 tqdm-4.66.1 webencodings-0.5.1

In [28]:
import os
import json

kaggle_api_key = "/home/williamccs/cookiecutter-personal/pandas_numpy_prediction_houses_colombia/token_kaggle/kaggle.json"

In [29]:
with open(kaggle_api_key) as f:
    kaggle_json = json.load(f)

In [30]:
os.environ["KAGGLE_USERNAME"] = kaggle_json["username"]
os.environ["KAGGLE_KEY"] = kaggle_json["key"]

In [31]:
! kaggle datasets download -d danieleduardofajardo/colombia-house-prediction

Downloading colombia-house-prediction.zip to /home/williamccs/cookiecutter-personal/pandas_numpy_prediction_houses_colombia/notebooks
 54%|████████████████████▋                 | 3.00M/5.51M [00:00<00:00, 6.33MB/s]
100%|██████████████████████████████████████| 5.51M/5.51M [00:00<00:00, 9.13MB/s]

In [32]:
! mv colombia-house-prediction.zip ../data

In [33]:
import zipfile

with zipfile.ZipFile("../data/colombia-house-prediction.zip", "r") as zip_ref:
    zip_ref.extractall("../data")

In [34]:
! pip install pandas numpy matplotlib seaborn

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/d0/28/88b81881c056376254618fad622a5e94b5126db8c61157ea1910cd1c040a/pandas-2.0.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting numpy
  Obtaining dependency information for numpy from https://files.pythonhosted.org/packages/32/6a/65dbc57a89078af9ff8bfcd4c0761a50172d90192eaeb1b6f56e5fbf1c3d/numpy-1.25.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Using cached numpy-1.25.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/4f/d7/3303f11188122f66c940056f162d030992e7fbc9c702869bab163e85156b/matplotlib-3.7.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading matplotlib-3.7.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 7.9 MB/s eta 0:00:0000:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/d8/23/8d968922459b1c8a2c6ffca28fac00324b06b3a0633be2a39b0b1c3f84ab/contourpy-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading contourpy-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.7 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/fb/a9/05d2539c0db482964df238d29d306886030c26102634447b2c9ad44b3b6b/fonttools-4.42.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading fonttools-4.42.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (150 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.6/150.6 kB 9.1 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 17.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging>=20.0 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Obtaining dependency information for pillow>=6.2.0 from https://files.pythonhosted.org/packages/16/89/818fa238e37a47a29bb8495ca2cafdd514599a89f19ada7916348a74b5f9/Pillow-10.0.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata
  Downloading Pillow-10.0.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Collecting pyparsing<3.1,>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.0.9-py3-none-any.whl (98 kB)
Requirement already satisfied: six>=1.5 in /home/williamccs/miniconda3/envs/cookiecutter-personal/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 32.3 MB/s eta 0:00:0000:010:01
Using cached numpy-1.25.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Downloading matplotlib-3.7.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 32.1 MB/s eta 0:00:0000:010:01
Downloading contourpy-1.1.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 18.4 MB/s eta 0:00:00
Downloading fonttools-4.42.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 48.9 MB/s eta 0:00:0000:0100:01
Downloading Pillow-10.0.0-cp311-cp311-manylinux_2_28_x86_64.whl (3.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 43.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.0 kiwisolver-1.4.4 matplotlib-3.7.2 numpy-1.25.2 pandas-2.0.3 pillow-10.0.0 pyparsing-3.0.9 pytz-2023.3 seaborn-0.12.2 tzdata-2023.3

In [35]:
import pandas as pd

In [36]:
df_sales_prediction_colombia = pd.read_csv("/home/williamccs/cookiecutter-personal/pandas_numpy_prediction_houses_colombia/data/Sales_prediction_Colombia.csv", sep=",",header=0)
df_sales_prediction_colombia.head()

,Unnamed: 0,antiguedad_original,area,areabalcon,areaconstruida,areaterraza,balcon,banos,banoservicio,conjuntocerrado,...,tiempodeconstruido,tipodegaraje,valor,valorventa,vigilancia,vista,zona_de_bbq,zonadelavanderia,zonaninos,zonasverdes
0,0,Entre 5 y 10 años,145.0,10.0,145.0,10.0,Terraza,3.0,NaN,NaN,...,Entre 5 y 10 años,Independiente,9.000000e+08,9.000000e+08,24hrs,Exterior,NaN,Si,NaN,NaN
1,1,Entre 0 y 5 años,114.0,NaN,114.0,NaN,NaN,3.0,NaN,NaN,...,Entre 0 y 5 años,NaN,5.481475e+08,5.481475e+08,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Entre 5 y 10 años,170.0,30.0,170.0,30.0,Terraza,4.0,NaN,Si,...,Entre 5 y 10 años,Propio,1.500000e+09,1.500000e+09,NaN,Exterior,NaN,Si,NaN,Si
3,3,Entre 0 y 5 años,61.0,NaN,61.0,NaN,Balcón,1.0,NaN,NaN,...,Entre 0 y 5 años,Independiente,4.950000e+08,4.950000e+08,24hrs,Exterior,NaN,NaN,NaN,NaN
4,4,Más de 20 años,120.5,NaN,120.5,NaN,NaN,3.0,NaN,NaN,...,Más de 20 años,Servidumbre,8.500000e+08,8.500000e+08,Si,NaN,NaN,Si,NaN,NaN

#**Functions test**

In [ ]:
df_sales_prediction_colombia.describe()

,Unnamed: 0,area,areabalcon,areaconstruida,areaterraza,banos,estrato,garajes,habitaciones,latitud,longitud,numeroascensores,valor,valorventa
count,145552.000000,145528.000000,24357.000000,145528.000000,24357.000000,145016.000000,138885.000000,131688.000000,145540.000000,145552.000000,145552.000000,83635.000000,1.455520e+05,1.455520e+05
mean,72775.500000,137.033261,37.349768,137.033261,37.349768,2.593004,4.768557,1.750683,2.606651,4.691798,-74.061513,1.156585,1.401152e+09,1.401152e+09
std,42017.387528,2130.744767,643.118618,2130.744767,643.118618,1.029160,1.146063,0.773695,0.865364,0.037573,0.030732,0.421766,2.829434e+10,2.829434e+10
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,4.444849,-74.214287,1.000000,0.000000e+00,0.000000e+00
25%,36387.750000,66.980000,3.000000,66.980000,3.000000,2.000000,4.000000,1.000000,2.000000,4.668962,-74.068086,1.000000,3.200000e+08,3.200000e+08
50%,72775.500000,92.000000,5.000000,92.000000,5.000000,2.000000,5.000000,2.000000,3.000000,4.696202,-74.052383,1.000000,4.900000e+08,4.900000e+08
75%,109163.250000,138.000000,16.000000,138.000000,16.000000,3.000000,6.000000,2.000000,3.000000,4.719743,-74.042720,1.000000,8.200000e+08,8.200000e+08
max,145551.000000,570000.000000,21502.000000,570000.000000,21502.000000,52.000000,7.000000,10.000000,86.000000,4.813678,-74.016319,4.000000,4.100000e+12,4.100000e+12

In [ ]:
df_sales_prediction_colombia.columns

Index(['Unnamed: 0', 'antiguedad_original', 'area', 'areabalcon',
       'areaconstruida', 'areaterraza', 'balcon', 'banos', 'banoservicio',
       'conjuntocerrado', 'cuarto_de_escoltas', 'cuartodeservicio',
       'depositoocuartoutil', 'depositos', 'estrato', 'estudioobiblioteca',
       'garajecubierto', 'garajes', 'gimnasio', 'habitaciones',
       'halldealcobasoestar', 'instalaciondegas', 'jacuzzi', 'jardin',
       'latitud', 'longitud', 'numeroascensores', 'parqueaderovisitantes',
       'piscina', 'plantaelectrica', 'porteriaovigilancia', 'remodelado',
       'saloncomunal', 'sauna_yo_turco', 'terraza', 'tiempodeconstruido',
       'tipodegaraje', 'valor', 'valorventa', 'vigilancia', 'vista',
       'zona_de_bbq', 'zonadelavanderia', 'zonaninos', 'zonasverdes'],
      dtype='object')

In [ ]:
df_sales_prediction_colombia.index

RangeIndex(start=0, stop=145552, step=1)

In [ ]:
df_sales_prediction_colombia.to_numpy()

array([[0, 'Entre 5 y 10 años', 145.0, ..., 'Si', nan, nan],
       [1, 'Entre 0 y 5 años', 114.0, ..., nan, nan, nan],
       [2, 'Entre 5 y 10 años', 170.0, ..., 'Si', nan, 'Si'],
       ...,
       [145549, 'Entre 0 y 5 años', 88.0, ..., nan, nan, nan],
       [145550, 'Entre 10 y 20 años', 173.0, ..., 'Si', nan, nan],
       [145551, 'Más de 30 años', 106.0, ..., nan, nan, nan]],
      dtype=object)

In [ ]:
df_sales_prediction_colombia.T

In [ ]:
df_sales_prediction_colombia.sort_values("area", ascending=False)

,Unnamed: 0,antiguedad_original,area,areabalcon,areaconstruida,areaterraza,balcon,banos,banoservicio,conjuntocerrado,...,tiempodeconstruido,tipodegaraje,valor,valorventa,vigilancia,vista,zona_de_bbq,zonadelavanderia,zonaninos,zonasverdes
10210,10210,9 a 15 años,570000.0,NaN,570000.0,NaN,NaN,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,1.750000e+08,1.750000e+08,Si,NaN,NaN,NaN,NaN,NaN
139945,139945,16 a 30 años,320000.0,NaN,320000.0,NaN,NaN,4.0,NaN,NaN,...,Entre 10 y 20 años,NaN,1.450000e+09,1.450000e+09,NaN,NaN,NaN,NaN,NaN,NaN
95616,95616,16 a 30 años,200000.0,NaN,200000.0,NaN,NaN,5.0,NaN,Si,...,Entre 10 y 20 años,NaN,9.000000e+08,9.000000e+08,Si,NaN,NaN,Si,NaN,NaN
88779,88779,9 a 15 años,185000.0,NaN,185000.0,NaN,NaN,2.0,NaN,Si,...,Entre 10 y 20 años,NaN,8.500000e+08,8.500000e+08,Si,NaN,NaN,Si,Si,Si
143541,143541,Entre 10 y 20 años,167000.0,NaN,167000.0,NaN,NaN,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,7.250000e+08,7.250000e+08,24hrs,NaN,NaN,Si,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125831,125831,Entre 0 y 5 años,NaN,NaN,NaN,NaN,Balcón,3.0,NaN,NaN,...,Entre 0 y 5 años,NaN,8.400000e+08,8.400000e+08,NaN,NaN,NaN,Si,NaN,NaN
142313,142313,Entre 0 y 5 años,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Si,...,Entre 0 y 5 años,Propio,3.850000e+08,3.850000e+08,NaN,Exterior,NaN,Si,NaN,NaN
142664,142664,Entre 5 y 10 años,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Si,...,Entre 5 y 10 años,NaN,1.250000e+08,1.250000e+08,24hrs,NaN,NaN,NaN,Si,NaN
142966,142966,Entre 5 y 10 años,NaN,11.0,NaN,11.0,Terraza,3.0,NaN,NaN,...,Entre 5 y 10 años,Propio,5.500000e+08,5.500000e+08,NaN,Interior,NaN,Si,NaN,NaN
143082,143082,Entre 10 y 20 años,NaN,NaN,NaN,NaN,Balcón,3.0,NaN,Si,...,Entre 10 y 20 años,NaN,8.500000e+08,8.500000e+08,24hrs,NaN,NaN,Si,Si,Si

In [ ]:
df_sales_prediction_colombia["tiempodeconstruido"]

0          Entre 5 y 10 años
1           Entre 0 y 5 años
2          Entre 5 y 10 años
3           Entre 0 y 5 años
4             Más de 20 años
                 ...
145547      Entre 0 y 5 años
145548      Entre 0 y 5 años
145549      Entre 0 y 5 años
145550    Entre 10 y 20 años
145551        Más de 20 años
Name: tiempodeconstruido, Length: 145552, dtype: object

In [ ]:
df_sales_prediction_colombia["tiempodeconstruido"].value_counts()

Entre 10 y 20 años    57114
Entre 0 y 5 años      47641
Entre 5 y 10 años     24810
Más de 20 años        15987
Name: tiempodeconstruido, dtype: int64

In [ ]:
df_sales_prediction_colombia.loc[0:4, ["antiguedad_original","tiempodeconstruido"]]

  antiguedad_original tiempodeconstruido
0   Entre 5 y 10 años  Entre 5 y 10 años
1    Entre 0 y 5 años   Entre 0 y 5 años
2   Entre 5 y 10 años  Entre 5 y 10 años
3    Entre 0 y 5 años   Entre 0 y 5 años
4      Más de 20 años     Más de 20 años

In [ ]:
df_sales_prediction_colombia.iloc[0:4,0:3]

   Unnamed: 0 antiguedad_original   area
0           0   Entre 5 y 10 años  145.0
1           1    Entre 0 y 5 años  114.0
2           2   Entre 5 y 10 años  170.0
3           3    Entre 0 y 5 años   61.0

In [ ]:
df_sales_prediction_colombia[df_sales_prediction_colombia["antiguedad_original"] == "Entre 10 y 20 años"].sort_values("area", ascending=False)

,Unnamed: 0,antiguedad_original,area,areabalcon,areaconstruida,areaterraza,balcon,banos,banoservicio,conjuntocerrado,...,tiempodeconstruido,tipodegaraje,valor,valorventa,vigilancia,vista,zona_de_bbq,zonadelavanderia,zonaninos,zonasverdes
143541,143541,Entre 10 y 20 años,167000.0,NaN,167000.0,NaN,NaN,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,725000000.0,725000000.0,24hrs,NaN,NaN,Si,NaN,NaN
95781,95781,Entre 10 y 20 años,140000.0,NaN,140000.0,NaN,NaN,5.0,NaN,Si,...,Entre 10 y 20 años,Independiente,950000000.0,950000000.0,24hrs,Exterior,NaN,Si,Si,Si
120228,120228,Entre 10 y 20 años,117000.0,NaN,117000.0,NaN,NaN,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,229000000.0,229000000.0,NaN,NaN,NaN,NaN,NaN,NaN
91303,91303,Entre 10 y 20 años,85020.0,NaN,85020.0,NaN,Ninguno,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,400000000.0,400000000.0,24hrs,Exterior,NaN,NaN,NaN,NaN
132333,132333,Entre 10 y 20 años,19242.0,12.0,19242.0,12.0,Terraza,5.0,NaN,Si,...,Entre 10 y 20 años,Propio,950000000.0,950000000.0,24hrs,Exterior,Si,Si,Si,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29410,29410,Entre 10 y 20 años,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,540000000.0,540000000.0,24hrs,NaN,NaN,NaN,Si,Si
52462,52462,Entre 10 y 20 años,NaN,NaN,NaN,NaN,Balcón,2.0,NaN,NaN,...,Entre 10 y 20 años,NaN,560000000.0,560000000.0,24hrs,NaN,NaN,Si,NaN,NaN
64410,64410,Entre 10 y 20 años,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,Entre 10 y 20 años,NaN,200000000.0,200000000.0,24hrs,NaN,NaN,Si,NaN,Si
96537,96537,Entre 10 y 20 años,NaN,NaN,NaN,NaN,Balcón,1.0,NaN,NaN,...,Entre 10 y 20 años,NaN,380000000.0,380000000.0,NaN,Exterior,NaN,NaN,NaN,NaN
143082,143082,Entre 10 y 20 años,NaN,NaN,NaN,NaN,Balcón,3.0,NaN,Si,...,Entre 10 y 20 años,NaN,850000000.0,850000000.0,24hrs,NaN,NaN,Si,Si,Si

In [ ]:
df_2 = df_sales_prediction_colombia.copy()

In [ ]:
cm_km2 = df_sales_prediction_colombia["area"] * 0.001

In [ ]:
df_2["area cm²"] = cm_km2
df_2["area cm²"]
df_2

,Unnamed: 0,antiguedad_original,area,areabalcon,areaconstruida,areaterraza,balcon,banos,banoservicio,conjuntocerrado,...,tipodegaraje,valor,valorventa,vigilancia,vista,zona_de_bbq,zonadelavanderia,zonaninos,zonasverdes,area cm²
0,0,Entre 5 y 10 años,145.0,10.00,145.0,10.00,Terraza,3.0,NaN,NaN,...,Independiente,9.000000e+08,9.000000e+08,24hrs,Exterior,NaN,Si,NaN,NaN,0.1450
1,1,Entre 0 y 5 años,114.0,NaN,114.0,NaN,NaN,3.0,NaN,NaN,...,NaN,5.481475e+08,5.481475e+08,NaN,NaN,NaN,NaN,NaN,NaN,0.1140
2,2,Entre 5 y 10 años,170.0,30.00,170.0,30.00,Terraza,4.0,NaN,Si,...,Propio,1.500000e+09,1.500000e+09,NaN,Exterior,NaN,Si,NaN,Si,0.1700
3,3,Entre 0 y 5 años,61.0,NaN,61.0,NaN,Balcón,1.0,NaN,NaN,...,Independiente,4.950000e+08,4.950000e+08,24hrs,Exterior,NaN,NaN,NaN,NaN,0.0610
4,4,Más de 20 años,120.5,NaN,120.5,NaN,NaN,3.0,NaN,NaN,...,Servidumbre,8.500000e+08,8.500000e+08,Si,NaN,NaN,Si,NaN,NaN,0.1205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145547,145547,Entre 0 y 5 años,118.0,NaN,118.0,NaN,NaN,3.0,NaN,NaN,...,NaN,8.000000e+08,8.000000e+08,NaN,NaN,NaN,Si,NaN,NaN,0.1180
145548,145548,Entre 0 y 5 años,89.0,10.00,89.0,10.00,Terraza,3.0,NaN,NaN,...,Propio,3.200000e+08,3.200000e+08,NaN,Exterior,NaN,Si,NaN,NaN,0.0890
145549,145549,Entre 0 y 5 años,88.0,NaN,88.0,NaN,NaN,3.0,NaN,NaN,...,NaN,9.500000e+08,9.500000e+08,NaN,NaN,NaN,NaN,NaN,NaN,0.0880
145550,145550,Entre 10 y 20 años,173.0,25.68,173.0,25.68,Terraza,3.0,NaN,NaN,...,NaN,1.450000e+09,1.450000e+09,24hrs,Exterior,NaN,Si,NaN,NaN,0.1730
145551,145551,Más de 30 años,106.0,NaN,106.0,NaN,Si,2.0,NaN,NaN,...,NaN,4.500000e+08,4.500000e+08,NaN,NaN,NaN,NaN,NaN,NaN,0.1060

##Obtener la mascara boolean de los valores NaN

In [ ]:
df_2["area"].isna().value_counts()

False    145528
True         24
Name: area, dtype: int64